html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/r8K5nG9Pxiyh9wvn6/videoblocks-abstract-blue-geometric-background-with-moving-lines-dots-and-triangles-plexus-fantasy-abstract-technology-loop-animations_ho4lwcmzb_thumbnail-full01.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#searchForm {
  padding-top: 5%;
  width: 100%;
}

#searchButton {
  margin-top: 5%;
}

#about {
  padding-top: 80px;
}

.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #24355C;
  }
}
