<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PreFuel</title>

    <!-- STYLES-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='styles/mdb.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static', filename='styles/base.css')}}" rel="stylesheet">
    <!--Google Maps-->
</head>
<body>
     <!-- SCRIPTS -->
     <script src="{{url_for('static', filename='scripts/jquery-3.3.1.min.js')}}"></script>
     <script src="{{url_for('static', filename='scripts/popper.min.js')}}"></script>
     <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
     <script src="{{url_for('static', filename='scripts/mdb.min.js')}}"></script>

     <script src="{{url_for('static', filename='scripts/base.js')}}"></script>

    <!--Main Navigation-->
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">

                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">PreFuel</a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                    <!-- Links -->

                    <!-- Social Icon  -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>

                </div>
                <!-- Collapsible content -->

            </div>
        </nav>
        <!--/.Navbar-->

        <div id="intro" class="view">

            <div class="mask rgba-black-strong">

                <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-md-10 md-form">

                            <!-- Heading -->
                            <h3 class="display-4 font-weight-bold white-text pt-5 mb-3">PreFuel</h3>

                            <!-- Divider -->
                            <hr class="hr-light">

                            <!-- Description -->
                            <h5 class="white-text my-5">Get a prediction of fuel prices, so you know when to refill your tank for less!</h5>
                            
                            <form id="searchForm" method="get">
                              <input type="text" class="" name="postcode" maxlength="4" pattern="[0-9]{4}" placeholder="Postcode">
                              <input type="text" name="brand" placeholder="Fuel Brand">
                              <input type="text" list="Fuel Type" name="fuelType" placeholder="Fuel Type">
                              <datalist id="Fuel Type">
                                <option value="E10">
                                <option value="U91">
                                <option value="P98">
                                <option value="DL">
                                <option value="LPG">
                              </datalist>
                              <input id="searchButton" type="submit" class="btn btn-outline-white" value="Search">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5">
        <div class="container">
            {% block body_contents %}
            {% endblock %}
        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer font-small unique-color-dark pt-0">

        <!-- Social buttons -->
        <div class="primary-color">
            <div class="container">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!--Grid column-->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!--Facebook-->
                        <a class="fb-ic ml-0">
                            <i class="fa fa-facebook white-text mr-4"> </i>
                        </a>
                        <!--Twitter-->
                        <a class="tw-ic">
                            <i class="fa fa-twitter white-text mr-4"> </i>
                        </a>
                        <!--Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus white-text mr-4"> </i>
                        </a>
                        <!--Linkedin-->
                        <a class="li-ic">
                            <i class="fa fa-linkedin white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram white-text mr-lg-4"> </i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>
        </div>
        <!-- Social buttons -->

        <!--Footer Links-->
        <div class="container mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">

                <!--First column-->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Stack-Overflowers</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Data Services Engineering (COMP9321) Machine Learning Assignment 3.</p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Useful links</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="https://www.fuelcheck.nsw.gov.au/app">Fuel Check</a>
                    </p>
                    <p>
                        <a href="https://data.nsw.gov.au/data/dataset/fuel-check">Datasets</a>
                    </p>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div id="contact" class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fa fa-home mr-3"></i>University of New South Wales</p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i>soham.patel@student.unsw.edu.au</p>
                </div>
                <!--/.Third column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
</body>

</html>
