{% extends "base.html" %}
{% block body_contents %}
<!--Section: Best Features-->
<section id="about" class="text-center">

    <h2 class="mb-5 font-weight-bold">About</h2>

    <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-8">
            <p class="grey-text">Pre-Fuel is a web application which performs machine learning on datasets retreieved from NSW Government to predict future fuel prices. Prediction is made using Python's Scikit using the Regression Model.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-5">
            <i class="fa fa-location-arrow fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">Area</h4>
            <p class="grey-text">Enter an area, brand and type of fuel whose price you want to predict.</p>
        </div>

        <div class="col-md-4 mb-1">
            <i class="fa fa-dollar fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">Predict</h4>
            <p class="grey-text">Get a prediction of fuel prices in your area for upto two weeks.</p>
        </div>

        <div class="col-md-4 mb-1">
            <i class="fa fa-car fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">Refill</h4>
            <p class="grey-text">Refill you fuel tanks on the day which is the cheapest to make the most savings.</p>
        </div>
    </div>
</section>
{% endblock %}